/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.jpg) no-repeat center top; /* 170px x 200px */
    width:100%;                   /* text area width */
    text-align:center;
    padding:160px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -65px;
}

#profile {
    display: block;
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 2px;
    width: 100%
}

#picture {
    background-image: url("https://pbs.twimg.com/profile_images/1183989734/OgAAAK7zGHQ70phpo_QeYndYJr…TAUaCBTviktSctKxFjY1_h6AuQPgAm1T1UIS0Wyef7VDICqp6uRpra3HYNc3k_400x400.jpg");
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #636060;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 99999;
}

.owl-item {
    width: 70px !important;
    margin: 0px 5px;
}

.owl-item a {
    display: block;
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #636060;
    text-indent: -9999px;
}


#actions {
    background-color: #ffffff;
    height: 28px;
    margin: 10px 30px 0 30px;
    border-radius: 99em;
    -webkit-border-radius: 99em;
    opacity: 0.9;
    text-align: left;
    padding: 12px 0 0 20px;
}


.step {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    color: #ffffff;
    margin: 30px;
    padding: 15px;
    position: relative;
}

.step::before {
    display: block;
    float: left;
    font-size: 5.1em;
    font-weight: bold;
    top: -13px;
    position: absolute;
    left: -3px;
}

#scan-qrcode {
    background-color: #fd5c63;
}

#scan-qrcode::before {
    content: "1";
}

#twitter-connect {
    background-color: #55acee;
}

#twitter-connect::before {
    content: "2";
}

#friend-pick {
    background-color: #fd9f3e;
}

#friend-pick::before {
    content: "3";
}

#friend-list-container {
    display: block;
    margin: 30px;
    position: relative;
}

#friend-detail {
    background-color: #f1f1f1;
    margin: 0px 30px;
    position: relative;
    top: -105px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    min-height: 140px;
}

#friend-detail ul {
    list-style: none;
    position: absolute;
    bottom: 0;
    width: 250px;
    display: block;
}

#friend-detail ul li {
    list-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;

}

#friend-detail ul li:first-child {
    background-color: #db4437;
    left: 0px;
}

#friend-detail ul li:last-child {
    background-color: #5b9a68;
    right: 10px;
}

#friend-detail ul li a {
    color: #ffffff;
}

#friend-name {
    font-size: 1.5em;
    width: 188px;
    display: inline-block;
    padding: 5px 0;
}

#friend-screenname {
    font-style: italic;
}

#friend-picture {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #636060;
    display: block;
    float: left;
    margin-right: 20px;
}

#gender-pick {
    background-color: #fbb040;
}

#gender-pick::before {
    content: "4";
}

#gender-list {
    list-style: none;
    position: relative;
    display: block;
    margin: 30px;
    height: 43px;
}

#gender-list:after {
  content: "";
  clear: both;
}

#gender-list li {
    list-style: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 110px;
    color: #ffffff;
}

#gender-list li:after {
  content: "";
  clear: both;
}

#gender-list li:first-child {
    background-color: #0f7dc2;
    left: 0px;
}

#gender-list li:last-child {
    background-color: #fc3158;
    right: 0px;
}

#gender-list li label {
  cursor: pointer;
  display: block;
  left: 1px;
  position: absolute;
  right: 1px;
  top: 1px;
  white-space: nowrap;
  color: #ffffff;
  padding: 8px 0;
  font-size: 1.5em;
}

#gender-list li label:after {
  content: "";
  clear: both;
}

#gender-list li:first-child label {
    background-color: #0f7dc2;
}

#gender-list li:last-child label {
    background-color: #fc3158;
}

#gender-list li input:checked + label {
  outline: 4px solid #21b4d0;
}

#finish-setup {
    background-color: #9cb443;
}

#start-discovery {
    background-color: #449a88;
}

#stop-discovery {
    background-color: #333e48;
}


#message {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    background-color: #f1f1f1;
    margin: 30px;
    padding: 15px;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block;
    margin: 0 90px;
    position: relative;
    background-color: #ffffff;
    padding-top: 10px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:10px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
