/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.jpg) no-repeat center top; /* 170px x 200px */
    width:100%;                   /* text area width */
    text-align:center;
    padding:160px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -65px;
}

#profile {
    display: block;
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 2px;
    width: 100%
    display: none;
}

#profile span {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #636060;
    position: absolute;
    right: 20px;
    top: 0;
    z-index: 99999;
}

#actions {
    background-color: #ffffff;
    height: 28px;
    margin: 10px 30px 0 30px;
    border-radius: 99em;
    -webkit-border-radius: 99em;
    opacity: 0.9;
    text-align: left;
    padding: 12px 0 0 20px;
    display: none;
}

#steps {
    transition: all 560ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    position: relative;
    min-height: 417px;
    width: 1080px;
}

.step {
    margin: 30px;
    position: relative;
    display: block;
    width: 300px;
    min-height: 356px;
    border-radius: 4px;
    float: left;
}

.step button {
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    white-space: nowrap;
}

.step button.disabled {
    opacity: 0.4;
}

.step .content {
    padding: 15px;
}

h2 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 15px;
    margin: 0;
}

h2::before {
    display: block;
    float: left;
    font-size: 5.1em;
    font-weight: bold;
    top: -13px;
    position: absolute;
    left: -3px;
}

#connect-step {
    display: block;
    background-color: #EFF9FD;
}

#connect-step h2 {
    background-color: #55acee;
}

#connect-step h2::before {
    content: "1";
    text-shadow: 0px 0px 4px #55acee;
}

#connect-step button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#config-step {
    background-color: #FCF2E4;
}

#config-step h2 {
    background-color: #fbb040;
}

#config-step h2::before {
    content: "2";
    text-shadow: 0px 0px 4px #fbb040;
}

#config-step ul {
    list-style: none;
    position: relative;
}

#config-step ul li {
     list-style: none;
     text-align: center;
     padding: 10px;
}

#config-step h2:last-child {
    background-color: #fbb040;
}

#config-step h2:last-child::before {
    content: "3";
}

#mood-list li label[for=blessed] {
    background-image: url("../img/mood-blessed.png");
}

#mood-list li label[for=happy] {
    background-image: url("../img/mood-happy.png");
}

#mood-list li label[for=sick] {
    background-image: url("../img/mood-sick.png");
}

#mood-list li label[for=love] {
    background-image: url("../img/mood-love.png");
}

#mood-list li input:checked + label {
  outline: 2px solid #21b4d0;
}

#lighter {
    display: block;
    color: #ffffff;
    margin: 0;
    padding: 15px 0 72px 0;
    background-image: url("../img/lighter-body-1.png");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    width: 88px;
    height: 200px;
    left: 39%;
    top: 70%;
    margin-right: -50%;
}

#lighter a {
    width: 48px;
    height: 52px;
    position: absolute;
    top: -2px;
}

#lighter canvas {
    width: 35px;
    height: 174px;
    position: absolute;
    top: -57%;
    text-align: center;
    left: 8px;
}

#message {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    background-color: #f1f1f1;
    margin: 30px;
    padding: 15px;
    display: none;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block;
    margin: 0 90px;
    position: relative;
    background-color: #ffffff;
    padding-top: 10px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:10px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
