/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#ffffff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.jpg) no-repeat center top; /* 170px x 200px */
    width:100%;                   /* text area width */
    text-align:center;
    padding:160px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -65px;
    position: relative;
}

.app button {
    background: transparent none;
    border: 0 none;
    padding: 10px;
}

#profile {
    position: absolute;
    top: 20px;
    margin: 0;
    padding: 2px;
    width: 100%;
    display: none;
}

#profile span {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 1px solid #636060;
    position: absolute;
    right: 30px;
    top: 0;
    z-index: 99999;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#actions {
    background-color: #ffffff;
    height: 36px;
    margin: 12px 30px 0 72px;
    border-radius: 99em;
    -webkit-border-radius: 99em;
    opacity: 0.9;
    text-align: left;
    padding: 0px 0 0 20px;
    display: none;
}

#actions #config {
    display: none;
}

#container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#steps {
    transition: all 560ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
    position: relative;
    min-height: 417px;
    width: 1080px;
}

.step {
    margin: 30px;
    position: relative;
    display: block;
    width: 300px;
    min-height: 356px;
    border-radius: 4px;
    float: left;
}

.step button {
    border: none;
    padding: 15px 25px;
    border-radius: 4px;
    text-transform: uppercase;
    white-space: nowrap;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color: #17ad49;
}

.step button:active {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
}


.step button.disabled {
    opacity: 0.4;
    background-color: #ccc;
}

.step .content {
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 80px;
}

h2 {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    color: #ffffff;
    padding: 15px;
    margin: 0;
}

h2::before {
    display: block;
    float: left;
    font-size: 5.1em;
    font-weight: bold;
    top: -13px;
    position: absolute;
    left: -3px;
}

#connect-step {
    display: block;
    background-color: #EFF9FD;
}

#connect-step h2 {
    background-color: #55acee;
}

#connect-step h2::before {
    content: "1";
    text-shadow: 0px 0px 4px #55acee;
}

#connect-step button {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background-color: #55acee;
    color: #ffffff;    
}

#config-step {
    background-color: #FCF2E4;
}

#config-step h2 {
    background-color: #fbb040;
}

#config-step h2::before {
    content: "2";
    text-shadow: 0px 0px 4px #fbb040;
    left: 2px;
}

#config-step h3 {
    padding-top: 20px;
}

#config-step ul {
    list-style: none;
    position: relative;
    margin: 0 0 45px 0;
    padding: 0 0 0 60px;
}

#config-step ul:before {
    content: "sexo";
    position: absolute;
    left: 0;
    font-size: 1.15em;
    top: 50%;
    transform: translateY(-50%);
    transform: translate;
    color: #999999;
}

#config-step ul:after {
    content: "";
    clear: both;
    display: block;
}

#config-step ul li {
    list-style: none;
    text-align: center;
    padding: 10px;
    margin: 0;
    display: block;
    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    height: 90px;
}

#config-step ul li label {
    position: absolute;
    text-indent: -9999px;
    background-size: 65%;
    background-position: 13px 13px;
    border-radius: 99em;
    background-color: #ffffff;
    height: 70px;
    width: 70px;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-filter: grayscale(100%);
}

#config-step ul li label:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    left: -2px;
    top: 77%;
    border-radius: 99em;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#config-step ul li label[for=male] {
    background-image: url("../img/gender-male.png");
}

#config-step ul li label[for=female] {
    background-image: url("../img/gender-female.png");
}

#config-step ul li input:checked + label {
    -webkit-filter: grayscale(0%);
}

#config-step ul li input:checked + label:before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    left: 6px;
    top: 0px;
    border-radius: 99em;
    display: block;
}

#config-step li input#male:checked + label {
    border: 1px solid rgb(87, 87, 219);
    background-color: #F0F1FC;
}

#config-step li input#male:checked + label:before {
    border: 1px solid rgb(87, 87, 219);
    background-color: rgb(87, 87, 219);
}


#config-step li input#female:checked + label {
    border: 1px solid rgb(206, 13, 160);
    background-color: #FFF2F9;
}

#config-step li input#female:checked + label:before {
    border: 1px solid rgb(206, 13, 160);
    background-color: rgb(206, 13, 160);
}

#config-step input[name=gender] {
    display: none;
}

#config-step #name {
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5em;
    border-radius: 4px;
    border-style: none;
}

#config-step #name::-webkit-input-placeholder {
    position: relative;
    top: 2px;
    font-size: 0.75em;
    text-transform: uppercase;
}

#config-step button {
    margin-top: 20px;
    width: 100%;
    background-color: #fbb040;
    color: #ffffff;    
}


#discovery-step ul {
    z-index: 99999;
    bottom: -31px;
    list-style: none;
    position: absolute;
    margin: 0 0 0px 0;
    padding: 0 30px;
    width: 100%;
    left: -30px;
    right: 0;
    transform: translateX(-0%);
    transform: translate;
    background-color: #333;
    height: 40px;
    box-sizing: content-box;
}

#discovery-step ul:after {
    content: "";
    clear: both;
    display: block;
}


#discovery-step ul li {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    display: block;
    float: left;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    height: 34px;
}

#discovery-step ul li label {
    position: absolute;
    text-indent: -9999px;
    background-size: 70%;
    background-position: 12px 12px;
    border-radius: 99em;
    background-color: #ffffff;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 0;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%,-50%);
    -webkit-filter: grayscale(100%);
}

#discovery-step ul li label:before {
    content: "";
    background-color: green;
    width: 0px;
    height: 0px;
    position: absolute;
    left: -2px;
    top: 77%;
    border-radius: 99em;
    border: 1px solid #333;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#discovery-step input[name=mood] {
    display: none;
}

#discovery-step ul li label[for=feelgood] {
    background-image: url("../img/mood-feelgood.png");
}

#discovery-step ul li label[for=happy] {
    background-image: url("../img/mood-happy.png");
}

#discovery-step ul li label[for=sick] {
    background-image: url("../img/mood-sick.png");
}

#discovery-step ul li label[for=inlove] {
    background-image: url("../img/mood-inlove.png");
}

#discovery-step ul li input:checked + label {
    -webkit-filter: grayscale(0%);
}

#discovery-step ul li input:checked + label:before {
    content: "";
    background-color: green;
    width: 15px;
    height: 15px;
    position: absolute;
    left: 6px;
    top: 0px;
    border-radius: 99em;
    border: 1px solid #333;
    display: block;
}

#lighter {
    display: block;
    color: #ffffff;
    margin: 0;
    padding: 15px 0 72px 0;
    background-image: url("../img/lighter-body-1.png");
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: absolute;
    width: 88px;
    height: 200px;
    left: 39%;
    bottom: -25%;
    margin-right: -50%;
}

#lighter a {
    width: 48px;
    height: 52px;
    position: absolute;
    top: -2px;
}

#lighter canvas {
    width: 35px;
    height: 174px;
    position: absolute;
    top: -57%;
    text-align: center;
    left: 8px;
}

#message, #message * {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
    display: block;
    background-color: #318bff;
    margin: 0;
    padding: 15px;
    display: none;
    position: absolute;
    color: #ffffff;
    top: 218px;
    left: 50%;
    transform: translateX(-50%);
    transform: translate;
    white-space: nowrap;
}


/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    overflow:visible;
    padding:0px;
    text-align:center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    display: block;
    margin: 0 75px;
    position: relative;
    background-color: #ffffff;
    padding-top: 10px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:10px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
